<header class="primary-header container group">
  <section class="container">
    <h1 class="logo"><a href="index.html">Yogi's <br/> Blog</a></h1>
  </section>
    <h3 class="tagline">PhD Maths<br/>  Senior Software Developer</h3>
  <nav class="nav primary-nav:">
    <a href="index.html">Home</a>
    <a href="overview.html">Overview</a>
    <a href="code.html">Code</a>
    <a href="results.html">Results</a>
    <a href="interactive-results.html">Interactive Results</a>
    <a href="sandbox.html">sandbox</a>
    <a href="about.html">About me</a>
  </nav>
</header>
